In [1]:
# A list
A = [1,2,"a",3.14]
A

[1, 2, 'a', 3.14]

In [2]:
# List Comprehensions
#   [EXPRESSION for VALUE in COLLECTION]
#     "EXPRESSION" generates the elements in the list
#      followed by a FOR LOOP
#         evalutates the expression for EACH element in the collection!
#
# can make it conditional (Boolean T/F via "IF" statement)
#   [EXPRESSION for VALUE in COLLECTION if <test>]
#
# can have multiple conditions
#   [EXPRESSION for VALUE in COLLECTION if <test1> and <test2>]
#
# can LOOP over more than 1 collection
#   [EXPRESSION for VALUE1 in COLLECTION1 and VALUE2 in COLLECTION2]
#
# Create list of squares of the first 100 positive integers
squares = []
for i in range(1, 101):
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [3]:
# with List Comprehension:
squares2 = [i**2 for i in range (1,101)]
print(squares2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [4]:
remainders5 = [x**2 % 5 for x in range(1, 101)]
print(remainders5)

[1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0, 1, 4, 4, 1, 0]

In [5]:
remainders11 = [x**2 % 11 for x in range(1, 101)]
print(remainders11)

[1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1, 4, 9, 5, 3, 3, 5, 9, 4, 1, 0, 1]

In [10]:
# if clause... which movies start with "G"
movies = ["Goonies", "Citizen Kane"] #(assume filled in list)

gmovies = []
for title in movies:
    if title.startswith("G"):
        gmovies.append(title)
print(gmovies)

['Goonies']

In [11]:
# VERSUS

gmovies = [title for title in movies if title.startswith("G")]
print(gmovies)

['Goonies']

In [12]:
# what if our list is tupels (title, release_year)
movies = [("Goonies", 2005),("Citizen Kane", 1950)]
# Find movies released before 2000
pre2k = [title for (title, year) in movies if year < 2000]
print(pre2k)

['Citizen Kane']

In [13]:
# Scalar multiplication on a vector... take each element x4
v = [2, -3, 1]

# do NOT do "4*v"
w = [4*x for x in v]
print(w)

[8, -12, 4]

In [14]:
# Cartesian Product of sets
A = [1,3,5,7]
B = [2,4,6,8]
cartesian_products = [(a,b) for a in A for b in B]
cartesian_products

[(1, 2),
 (1, 4),
 (1, 6),
 (1, 8),
 (3, 2),
 (3, 4),
 (3, 6),
 (3, 8),
 (5, 2),
 (5, 4),
 (5, 6),
 (5, 8),
 (7, 2),
 (7, 4),
 (7, 6),
 (7, 8)]